.profile{
	width: 500px;
	padding: 10px;
	&_image{
		width: 300px;
		height: 300px;
		border: 1px dashed gray;
		border-radius: 5px;
		overflow: hidden;
	}
	.calendarInput {
		display: flex;
		flex-direction: row-reverse;
		.calendar {
			z-index: 10;
			position: absolute;
			margin-top: 62px;
			&-hidden {
				transform: scaleY(0);
				transition-duration: 200ms;
			}
			&-opened {
				transform: scaleY(1);
				transition-duration: 200ms;
			}
		}
	}
}

.fullSizeLoader {
	display: block;
	width: 100%;
	height: 100%;
}