.LoginRoot {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  .LoginBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .ButtonBox {
      width: 50vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .RoleBox {
      width: 50vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 1em 0;
    }
    .UserBox {
      width: 50vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      div {
        width: inherit !important;
      }
    }
  }
}
