.LoginRoot {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0; }
  .LoginRoot .LoginBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .LoginRoot .LoginBox .ButtonBox {
      width: 50vw;
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .LoginRoot .LoginBox .RoleBox {
      width: 50vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 1em 0; }
    .LoginRoot .LoginBox .UserBox {
      width: 50vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .LoginRoot .LoginBox .UserBox div {
        width: inherit !important; }

/*# sourceMappingURL=login.css.map */
